@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: poppins;
    margin: 0;
}

header {
    background-color: #6600Ff;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
header > h1 {
    margin: 0;
    color: white;
    padding-left: 10px;
}
main{
    aspect-ratio: 900/600;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./img/form.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50%;
    background-color: rgba(175, 175, 175, 0.5);
    border-radius: 15px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.first-row, .third-row {
    display: flex;
    justify-content: space-between;
}
.name-div, .last-div, .pas1-div, .pas2-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#name, #last-name, #pas1, #pas2{
    width: 80%;
}
input {
    height: 25px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}
.email-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#email {
    width: 90%;
}

#sub {
    display: flex;
    width: 100%;
    justify-content: center;
}
#sub > button {
    width: 92%;
    height: 30px;
    box-shadow: inset 0px 0px 0px 0px #6600Ff;
    border-radius: 15px;
    border: none;
    transition: all 0.5s;
}
#sub > button:hover {
    box-shadow: inset 469px 0px 0px 0px #6600Ff;
    color: white;
}

input:focus {
    outline: none;
}
.error {
    text-align: center;
    background-color: rgb(255, 63, 63);
    color: white;
    width: 75%;
    border-radius: 0px 0px 20px 20px;
}

.spanoff {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    transform: scale(0.1);
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 100;
}

.spanon {
    visibility: visible;
    transform: scale(1);
}

.cover {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(172, 172, 172, 0.5);
    z-index: 50;
    display: none;
}

.coveron {
    display: block;
}

.spanoff > h2 {
    text-align: center;
}

#close {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 66, 66);
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}